:root {
  --primary: #00baf2;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-image: url("../img/hrz-5.jpg");
  background-size: cover; 
  background-position: center; 
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  height: 90vh; 
  padding: 0 300px;
}

.main-content .left-column {
  flex: 1;
}

.left-column h2 {
  color: var(--primary);
  font-size: 4rem;
}

.left-column #evento {
  color: var(--text-color);
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 20px;
}

.left-column #data {
  color: var(--text-color);
  font-size: 22px;
  margin-top: 20px;
}

.left-column strong {
  color: var(--primary);
  font-size: 22px;
}

/* Formulário */
.form {
  width: 100%; 
  max-width: 500px; 
  padding: 20px;
  background-color: var(--secondary);
}

.form select {
  width: 100%; 
  max-width: 500px; 
  padding: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  font-size: 1rem;
}

.form p {
  margin-bottom: 1.3rem;
  font-size: 1.7rem;
  text-align: left;
}

.form label {
  display: block; 
  margin-bottom: 8px;
  color: var(--text-tertiary);
  font-weight: bold;
  font-size: 1.2rem;
}

.form input,
.form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  font-size: 1rem;
}

.form button {
   background-color: var(--primary);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  height: 3.5rem;
}

.form-container button:hover {
  background-color: #0097c0; 
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: stretch;
  }

  .form-container {
    max-width: 90%;
    margin-top: 20px;
  }
}

.background_gray {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: var(--secondary);
  font-size: 24px;
}

.background_gray #p_bold {
  font-weight: 550;
  font-size: 1.8rem;
}


.secondary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 400px;
}

.itens {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.item-content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.itens img {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem; 
}

.itens p {
  color: var(--secondary); 
  font-size: 1.5rem; 
}

/* LOCAL DE DESTAQUE */
.destaque {
  display: flex;
  background-image: url("../img/hrz-1.jpg");
  background-position: center;
  background-size: 95%; 
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: overlay;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  padding: 0 500px; 
}

.destaque-item {
  display: flex; 
  align-items: center; 
  text-align: center; 
  margin: 10px; 
}

.destaque-item i {
  color: var(--primary);
  font-size: 5.2rem;
  margin-right: 1.5rem; 
}

.destaque-item p {
  color: var(--text-color); 
  font-size: 1.7rem; 
}

.destaque-item-2 h2 {
  color: var(--primary);
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.destaque-item-2 p {
  color: var(--text-color);
  font-size: 1.2rem;
}

/* Ambientes */
.container-ambiente {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-wrap: wrap;
  gap: 3rem;
  padding: 3rem 4rem;
  max-width: 2200px;
  margin: 0 auto;
}

.ambiente-img,
.ambiente-texto {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  flex: 1;
  max-width: 800px;
}

.ambiente-img img {
  width: 100%;
  max-width: 1200px; 
  height: auto;
  object-fit: cover;
}

.ambiente-texto {
  text-align: left;
  margin-left: 2rem; 
}

.ambiente-texto h2 {
  font-size: 4rem;
  margin-bottom: 1.5rem; 
  color: var(--primary-color);
  text-align: left; 
}

.ambiente-texto h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem; 
  color: var(--primary-color);
  text-align: left; 
}

.ambiente-texto ul {
  list-style-type: disc;
  padding-left: 20px; 
  margin-top: 0; 
}

.ambiente-texto ul li {
  font-size: 1.5rem;
  margin-bottom: 1rem; 
}


.background_gray {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: var(--secondary);
  font-size: 24px;
}

.background-hrz6 {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 30vh;
  background-image: url("../img/hrz-6.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
}

.background-hrz6 p {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 2.5rem; 
}

.background-hrz6 button {
  width: 25%; 
  padding: 15px 0; 
  font-size: 1.4em; 
  background-color: var(--primary);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-weight: 600;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25vh;
}

footer h3 {
  color: var(--secondary);
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

footer #p1 {
  margin-bottom: 2rem;
}

footer p {
  color: var(--text-tertiary);
  font-size: 1.3rem;
}

